set ideajoin
set surround
set commentary
set relativenumber
set number
set visualbell
set noerrorbells



let mapleader ="\<Space>"

nmap <leader>f :action GotoFile<CR>
nmap <leader>b :action Switcher<CR>
nmap <leader>p :action ActivatePythonConsoleToolWindow<CR>
" nmap <leader>rc :action PyRunFileInConsole<CR>
" nmap <leader>rn :action RunClass<CR>
nmap <leader>n :action NewElement<CR>
nmap <leader>d :action DebugClass<CR>
nmap <leader>gd :action GotoDeclaration<cr>
nmap <leader>rn :action RenameElement<cr>
nmap <leader>l :action NextSplitter<cr>
nmap <leader>h :action PrevSplitter<cr>
nmap <leader>c :action com.jetbrains.python.console.RunPythonOrDebugConsoleAction<cr>

map } :action MethodDown<CR>
map { :action MethodUp<CR>

nmap H :action PreviousTab<CR>
nmap L :action NextTab<CR>
